<link rel="stylesheet" href="/css/partils/header.css">
<script src="/js/partils/header.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <header class="navbar">
        <div class="logo">
            <img src="img/LogoWM.png" alt="Logo">
        </div>

        <button class="navbar-toggler" type="button" aria-label="Menu mobile" onclick="toggleMenu()" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <nav class="menu-container">
            <ul class="menu-links">
                <li><a href="#nossos-servicos-custom">Serviços</a></li>
                <li><a href="#sobre-nos">Sobre Nós</a></li>
                <li><a href="#">Como Funciona</a></li>
                <li><a href="#">Planos</a></li>
            </ul>
            <button class="btn-orcamento">Solicitar Orçamento</button>
        </nav>
    </header>

  
